h1 {
    text-align: center;
    margin: 10px;
}   

body {
    margin: 0;
    background-color: #f5eadf;

}

.page {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

nav {
    background:rgb(101, 78, 51);
    padding: 12px 20px;
    margin: 0 0 20px;
}

nav a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}