h1 {
    font-size: 40px;
    text-align: center;
    margin: 2px auto auto 2px;
    line-height: 0.9;
}   

body {
    margin: 0;
    background-color: #f5eadf;
}

h2 {
    font-weight: bold;
    font-size: 90px;
    text-align: center;
}

.image-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.image-container,
.image-box,
.image-crate {
    flex: 1 1 250px;
    max-width: 350px;
}

.image-container img,
.image-box img,
.image-crate img {
    display: block;
    max-width: 100%;
    height: auto;
}

.page {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.body {
    background-image: url('https://i.pinimg.com/1200x/74/d6/f7/74d6f7209b968eb850ec030ff6064f70.jpg'); 
    margin: 20px auto 10px;
    text-align: center;
    display: flex;
}

nav {
    background:rgb(101, 78, 51);
    padding: 12px 20px;
    margin: 0 0 20px;
}

nav a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
}

