h1 {
    font-size: 40px;
    text-align: center;
    margin: 70px;
    line-height: 0.9;
}   

h2 {
    font-weight: bold;
    font-size: 90px;
    text-align: center;
}

.imagecontainer {
text-align: center;
}      

.page {
    padding: 10px;
    border-radius: 5px;
}

.body {
    background-image: url('https://i.pinimg.com/1200x/74/d6/f7/74d6f7209b968eb850ec030ff6064f70.jpg'); 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: cover; 
    background-attachment: fixed; 
    background-color:aliceblue;
}

